body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

p{
    color: dimgray;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

.name-highlight{
    color: orange;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    width: 100%;
}

.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

section{
    height: 500px;
    padding-bottom: 150px;
}

.link-button{
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(45deg, lightsalmon, orange);
    padding: 10px 30px;
    border-radius: 5px;
}

.fifty-fifty{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.fifty-fifty img{
    width: 100%;
}

.check{
    background-image: linear-gradient(45deg, orange, red);
}

.middle-banner{
    background-image: url("images/dream-bg.png");
    background-repeat:no-repeat;
    background-position: right;
}

.full-stack{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    height: 400px;
    box-shadow: 5px 5px 30px 5px grey;
    background-color: white;
}

#left{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}

#right{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, magenta);
    border-image-slice: 1;
}

.full-stack .bold{
    font-weight: bold;
    color: orange;
}

.full-stack .orangered{
    color: orangered;
}

.experiences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;
}


